<div class="row">
  <%= form_for @contacts do |f| %=>
      <%= f.label :name %>
      <%= f.text_field :name %> 
     
      <%= f.label :email %>
      <%= f.email_field :name %>
      
      <%= f.label :comments %>
      <%= f.text_area :comments %>
 
  <% end %>
    
</div>